@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");

header {
  text-align: center;
}

body {
  font-family: "Londrina Solid", cursive;
  color: rgb(65, 62, 62);
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  color: rgba(0, 0, 255, 0.541);
  margin-bottom: 10px;
}

p.description {
  font-size: 21px;
  color: #999;
  margin: 0 0 25px 0;
  padding: 0 5px;
}

ul {
  list-style: none;
}

/*
 * Buttons from:
 * http://codepen.io/TeshaR/pen/cdugG?editors=110
 */
.btn {
  float: none;
  position: relative;
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  text-align: center;
  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;

  /* Size */
  line-height: 45px;
  width: 100%;
  height: 45px;
  font-size: 140%;

  /* Colors */
  background: #f7f7f72a;
  box-shadow: 0 6px rgba(19, 49, 44, 0.2);
  color: rgb(5, 7, 71);
}

.btn:hover {
  background: #e6e6e6;
  box-shadow: 0 5px #aaa;
  color: #888;
}

/* Imitate a pressed effect for buttons */
.btn:active {
  top: 5px;
  box-shadow: none;
}

/*------ Header -----*/
/*------ Panels -----*/
.fridge {
  position: absolute;
  top: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

/*------ Controls -----*/
.controls {
  display: absolute;
  left: 0px;
  bottom: 0px;
}

.btn-rice {
  background: #f3dc0f;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-rice:hover {
  background: #222ed1;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-rice.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-rice.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-rice:active,
.btn-rice.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-pasta {
  background: #e09b07;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-pasta:hover {
  background: #222ed1;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-pasta.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-pasta.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-pasta:active,
.btn-pasta.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-fries {
  background: #b16004e7;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-fries:hover {
  background: #222ed1;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-fries.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-fries.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-fries:active,
.btn-fries.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-fish {
  background: #e207e2;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-fish:hover {
  background: #222ed1;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-fish.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-fish.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-fish:active,
.btn-fish.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-chicken {
  background: #a107a7;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-chicken:hover {
  background: #222ed1;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-chicken.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-chicken.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-chicken:active,
.btn-chicken.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-tofu {
  background: #45034e;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-tofu:hover {
  background: #222ed1;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-tofu.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-tofu.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-tofu:active,
.btn-tofu.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-sauce {
  background: #1aec07;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-sauce:hover {
  background: #222ed1;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-sauce.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-sauce.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-sauce:active,
.btn-sauce.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-peas {
  background: #17a005;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-peas:hover {
  background: #222ed1;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-peas.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-peas.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-peas:active,
.btn-peas.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-carrots {
  background: #216303;
  box-shadow: 0 6px #224e05;
  color: #fff;
}

.btn-carrots:hover {
  background: #070c49;
  box-shadow: 0 5px #266907;
  color: #fff;
}

.btn-carrots.active {
  top: 2px;
  box-shadow: 0 2px #094b89;
}

.btn-carrots.active:hover {
  box-shadow: 0 2px #076959;
}

.btn-carrots:active,
.btn-carrots.active:active {
  top: 5px;
  box-shadow: none;
}

/*------ Score -----*/

.score {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;*/
  display: absolute;
  right: 0px;
  top: 0px;
  text-align: end;
}

.score h2 {
  font-size: 30px;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

.score h2:after {
  content: ":";
}

.score b {
  font-size: 45px;
  color: #33b4d4;
}

/* .score li {
    margin: 5px 20px 0;
    color: #666;
  }
  
  .score li:before {
    content: '+ ';
    color: #e2311a;
  }
   */
.score strong {
  font-size: 30px;
  display: block;
  margin-top: 6px;
}

/*------ Plate -----*/
.food {
  background-image: url("images/plate-checkered_tablecloth.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}

.emptyplate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: auto;
}

.carb {
  position: absolute;
  top: 320px;
  right: 450px;
  width: 150px;
  height: 150px;
}

.protein {
  position: absolute;
  top: 320px;
  right: 600px;
  width: 200px;
  height: 200px;
}

.veggie {
  position: absolute;
  top: 480px;
  right: 480px;
  width: 300px;
  height: 230px;
}

.monster {
  position: absolute;
  top: 150px;
  right: 0px;
  width: 200px;
  height: 200px;

}

/*------ Footer -----*/
footer {
  margin: 0 0 30px 0;
  padding: 5px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  display: block;
}